.topbanner{
    display: flex;
    margin: 0px;
    background-image: url(images/download\ \(1\).jfif);
    background-repeat: no-repeat;
}
.peragraph{
    background-color: rgba(218, 8, 26, 0.582);
 border: ridge rgba(138, 8, 15, 0.397) 10px;
 padding: 5px;
}
.image{
    margin-left: 10px;
}
button{
    background-color: rgba(13, 13, 156, 0.315);
    margin:10px;
    margin-left: 20px;
    
}

body{
    margin: 0px;
    font-family: sans-serif;
}

.detailsimg{
    display: flex;
}
.details{
    display: flex;
    margin: 100px;
}
.detailstab{
    margin-left: 20px;
    background-image: url(images/download\ \(1\).jfif);
    background-repeat:no-repeat;
border: thin hsla(0, 88%, 17%, 0.959) 5px;
 
}
.findtext{
    text-align: center;
text-size-adjust: 40px;
    color: rgb(17, 17, 15);
    border: groove red 10px;
text-shadow: rgb(255, 0, 0);
}
.checkbutton{
color: red;
}
.linkbutton{
    text-decoration: none;
   background-image: linear-gradient(gold,red);
    padding: 10px 40;
    border-radius: 5px;
    font-size: 26px;
margin-left: 20px;
}
.half{
   
    width: 50%;
    margin: 10px;
    border: solid red 1px;
    border-radius: 10px;
   color: red;
   background-image: linear-gradient(white,gold);
   padding-left: 50px;
}
.bottom{
    display: flex;
}
.experience{

    background-color: rgba(255, 217, 0, 0.384);
    background-image: radial-gradient(white.silver);
}