body{
    font-family: 'Times New Roman', Times, serif;
    font: size 25px;;
    margin-left: 39px;
    margin: 0%;
}
.name{

    color: gold;
}
.para{
    width: 50%
    ;
    color: rgb(111, 0, 255);
}
.image{
   margin-left: 51px;
   margin-bottom: 60%;
   display: inherit;
   border: rgb(219, 9, 19);


}

.button{
   background-color: rgb(148, 6, 84);
  padding: 10px;
   margin-left: 20%;
   font-size: 14px;

}
.topbanner{
    background-image: url(images/download\ \(1\).jfif);
    background-repeat: no-repeat;
    display: flex;}
    
.paragraph{
    background-image:url(images/download\ \(1\).jfif);
}