body{
    font-family: 'Times New Roman', Times, serif;
    font: size 25px;;
    margin-left: 39px;
}
.name{

    color: gold;
}
.para{
    width: 50%
    ;
    color: rgb(111, 0, 255);
}
.image{
   margin-left: 51px;
   margin-bottom: 60%;
   display: inherit;
   border: rgb(219, 9, 19);


}
section{
    display: flex;
    border: lawngreen;
}
.peragraph{
    color: indigo;
    background-color: goldenrod;
}
.button{
   background-image: do;
}